<ol class="breadcrumb">
  <li class="breadcrumb-item" >
    <a routerLink="/home" style="color: white">INICIO</a>
  </li>
  <li class="breadcrumb-item active" style="color: white">FLOWS</li>
</ol>
<div class="container" id="cuerpo">
<div class="container">

	<div class="row">
		<div class="col-sm"><button id="circulo-verde">MBP-OPENET</button> </div>
        <div class="col-sm"><button id="circulo-amarillo">POS-GSM</button> </div>
        <div class="col-sm"><button id="circulo-azul">POS-GPRS</button> </div>
        
</div>
<div class="row">
		<div class="col-sm"><button id="circulo-rojo">POS-SMS</button> </div>
        <div class="col-sm"><button id="circulo-verde">MBP-OPENET</button> </div>
        <div class="col-sm"><button id="circulo-rojo">POS-SMS</button> </div>
</div>
</div>